[core]
	excludesfile = ~/.gitignore_global
[user]
	name = hoge
	email = hoge@example.com
[includeIf "gitdir:~/src/github.com/"]
	path = ~/.gitconfig_work
[includeIf "gitdir:~/src/github.com/sekka/"]
	path = ~/.gitconfig_private
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[ghq]
	root = ~/src
[commit]
	template = ~/.gitcommit_template
[merge]
	ff = false
[pull]
	ff = only
[http]
	sslVerify = false
[credential]
	helper = osxkeychain
[alias]
	ac = !git add -A && aicommits -a
[mergetool]
	keepBackup = true
[filter "vrc"]
	smudge = git vrc smudge --file %f
	clean = git vrc clean --file %f
	required = true
