[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[user]
	name = hoge
	email = hoge@example.com
[includeIf "gitdir:~/dotfiles/"]
	path = ~/.gitconfig_dotfiles
[includeIf "gitdir:~/src/github.com/"]
	path = ~/.gitconfig_work
[includeIf "gitdir:~/src/github.com/sekka/"]
	path = ~/.gitconfig_private
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[ghq]
	root = ~/src
[commit]
	template = ~/.gitcommit_template
[merge]
	ff = false
[pull]
	ff = only
[http]
	sslVerify = false
[credential]
	helper = osxkeychain
[alias]
	ac = !git add -A && aicommits -a
[mergetool]
	keepBackup = true
[filter "vrc"]
	smudge = git vrc smudge --file %f
	clean = git vrc clean --file %f
	required = true
[coderabbit]
	machineId = cli/c879f183a72641dea6144e3c12b0f057
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection
	side-by-side = true
[merge]
	conflictStyle = zdiff3